numpy
pandas
torch
torchvision
torchaudio
transformers
scikit-learn
statsmodels
tqdm
matplotlib
spacy
spacytextblob
seaborn
syllapy
openai
tencentcloud-sdk-python
tencentcloud-sdk-python-nlp
cleverwrap